<!DOCTYPE html>
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/nav')%>

    <div class="blogs content">
        <h2>Customers</h2>
        <% if (customers.length > 0) { %>
            <% customers.forEach(customer => { %>  
                <a href="/customers/<%= customer._id %>">
                    <%= customer.name %> <br>
                    <%= customer.balance %> <br><br>
                </a>
            <% }) %> 
        <% } %>  
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>