<!DOCTYPE html>
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/nav')%>

    <div class="blogs content">
        <h2>Customers</h2>
        <% if (customers.length > 0) { %>
            <% customers.forEach(customer => { %> 
                <%= customer.name %> 
                <%= customer.balance %> <br>
            <% }) %> 
        <% } %>  
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>